body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 440px;
  padding: 20px;
}

.logo {
  display: block;
  margin: 0 auto 6px auto; /* Logo di tengah */
  width: 100px;
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 8px 0;
  text-align: center;
}

.ig-verified {
  vertical-align: middle;
}

.social-icons {
  margin: 15px 0;
}

.social-icons a {
  margin: 0 6px;
  font-size: 22px;
  color: #111;
  text-decoration: none;
}

.links a {
  display: block;
  background: #f3f3f3;
  padding: 16px 24px;
  margin: 12px auto;
  width: 90%; /
  ...
}

.links a:hover {
  background: #e0e0e0;
}
